.container{
    display: grid;
    grid-template-columns: 80% 20%;
    height: 100%;

}
.main{
    padding: 15px;
    grid-column: 1/-2;
    overflow: scroll;
}
.right{
    padding: 10px;
    grid-column: 2/-1;}
img{
    width: 100%;
    height: fit-content;
    max-width: none;
    max-height: none;
}
